
    /* _________________ANIMACIONES__________________ */


    .pic1:active{
        animation-name: slide-fwd-tr;
        -webkit-animation: 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-fwd-tr 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
        animation-play-state: running; /* RUNNING */                   
    }
    
    
    
    /*  .slide-fwd-tr {
        -webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
                animation: slide-fwd-tr 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    
    
    }*/
    
    @-webkit-keyframes slide-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
                  transform: translateZ(160px) translateY(-100px) translateX(100px);
        }
      }
      @keyframes slide-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
                  transform: translateZ(160px) translateY(-200px) translateX(200px);
                  width: 70%;
                  border-radius: 0%;
                  border: #e7113f
                }
      }
    
    
      .pic2:active {
        animation-name: slide-fwd-top;
        -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        animation-play-state: running; /* RUNNING */    
    }
    
    @-webkit-keyframes slide-fwd-top {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px);
                  transform: translateZ(160px) translateY(-100px);
        }
      }
      @keyframes slide-fwd-top {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px);
                  transform: translateZ(160px) translateY(-200px);
                  width: 70%;
                  border-radius: 0%;
                  border: #e7113f
        }
      }
      
      .pic3:active{
        animation-name: slide-fwd-top;
        -webkit-animation: slide-fwd-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-fwd-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        animation-play-state: running; /* RUNNING */    
    }
      
    @-webkit-keyframes slide-fwd-tl {
      0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
                transform: translateZ(0) translateY(0) translateX(0);
      }
      100% {
        -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
                transform: translateZ(160px) translateY(-100px) translateX(-100px);
      }
    }
    @keyframes slide-fwd-tl {
      0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
                transform: translateZ(0) translateY(0) translateX(0);
      }
      100% {
        -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
                transform: translateZ(160px) translateY(-200px) translateX(-40%);
                width: 70%;
                border: #e7113f;
                border-radius: 0%;
      }
    }