
*{
  margin: 0%;
  padding: 0%;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10vh;
    background: linear-gradient(360deg, #8CBEF8 18.68%, #0360CD 100%), #4E96EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bandera{
    margin-left: 40px;
    width: 12vh;
    height: 7vh;  
}
.ucrania{
    margin-right: 40px;
    margin-top: 2vh;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 116px;
color: #FFF505;
text-shadow: 0px 6px 3px rgba(0, 0, 0, 0.25);
}

/*  .main{
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 10%;
    background-color: #0360CD;
}
*/
/* ________________________MAIN______________________ */
.container-main{
  display: flex;
  flex-direction: column;
    width: 100%;
    height: 80vh;
    background-image: url("./pictures/BGdesc2.jpg");
    background-size: cover; /* або інше значення, якщо потрібно змінити розмір зображення */
  background-position: center center;
  
}
.container-menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 22px;
    /* identical to box height */
     color: #f9f9f9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .container-menu a {
    color: #f9f9f9;
  text-decoration: none;
}


.container-articles{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 17pt;
    font-weight: bolder;
    color: #606060;
}
.ayer, .hoy, .manana {
  margin-left: 15px;
}
.article-ayer, .article-hoy, .article-manana{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.pic1, .pic2, .pic3{
    width: 200px;

    border: #404040 1px solid;
}

/* ________________________FOOTER_____________________ */
.container-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #616060 100%);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-wiki{
  width: 35%;
  height: 100%;
  margin-left: 5%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  font-size: large;
  font-weight: bold;
}

.container-wiki a {
  color: #404040;
  text-decoration: none;
}

.container-redes{
  display: flex;
  width: 50%;
  margin-right: 3%;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  color: #404040;

}

/* _________________________@MEDIA______________________________- */

@media screen and (max-width: 786px){
  .bandera{
    margin-left: 40px;
    width: 9vh;
    height: 6vh;  
}
  .ucrania{
    margin-right: 20px;
    font-size: 36px;
  }
  .container-menu{
    font-size: 13px;
  }
  .pic1, .pic2, .pic3{
    width: 80px;
    height: 55px;
  }
  .article-ayer, .article-hoy, .article-manana{
    font-size: 15px;
  }
  .container-wiki a {
    margin-bottom: 2%;
    font-size: 16px;
   }
   .container-redes{
    width: 65%;
  }
}

@media screen and (max-width: 360px){
  .container-header{
    height: 7vh;
  }
  .bandera{
    margin-left: 25px;
   width: 6vh;
   height: 4vh;  
}
 .ucrania{
   margin-right: 20px;
   font-size: 22px;
 }
 .container-menu{
   font-size: 13px;
 }
 .ayer, .hoy, .manana {
  margin-left: 7px;
} 

 .pic1, .pic2, .pic3{
   width: 100px;
   height: 70px;
 }
 .article-ayer, .article-hoy, .article-manana{
   font-size: 12px;
   color: #312f2f;
   justify-content: center;

 }
 .container-footer{
  display: flex;
  flex-direction: column;
 }
 .container-wiki{
  width: 95%;
  margin-left: 0%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
 }
 .container-wiki a {
   margin-bottom: 2%;
   font-size: 12px;
  }
  .container-redes{
   width: 95%;
   font-size: small;
 }
}